/* src/components/ChatList/ChatList.module.css */
.chatList {
  padding: 20px;
  height: calc(100vh - 60px); /* Adjust height to fit below AppBar */
  overflow-y: auto;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin-bottom: 10px;
  cursor: pointer;
}
