.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  border: 1px solid chartreuse;
  border-radius: 8px;
  margin-right: 5px;
}

/* .link.active {
  border: 1px solid rgb(189, 189, 26);
  background-color: #8a8ab7;
} */
.link:focus {
  border: 1px solid rgb(189, 189, 26);
  background-color: #8a8ab7;
  color: #2a363b;
}

.link:hover {
  border: 1px solid rgb(189, 189, 26);
  background-color: #8a8ab7;
  color: #2a363b;
}
